*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
}
body{
    background:#ADB5BD;
    color: #F8F9FA;
    overflow: hidden;
    overflow-y:scroll;
}