*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}
body{
    background:rgb(176, 180, 180);
    color: rgb(255, 255, 255);
    overflow: hidden;
    overflow-y:scroll;
}