.navbar{
    background-color:rgb(136, 163, 162);
    height:5rem;
    width:100vw;
    margin :0 auto;
    padding:1rem 2rem;
    display:flex;
    align-items: center;
    justify-content:space-between;
    position:sticky;
    top:0;
    z-index:3;
    transition:.3s;
    opacity:1;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s *var(--i));
}
.Logo
{
    object-fit:cover;
    height:4rem;
    width:9rem;
    cursor: default;
    opacity: 1;
    animation: slideRight 1s ease forwards;
}
.Logo:hover
{
    box-shadow: 0 0 50px rgb(31, 215, 221);
}

.desktopMenuListItem
{
    margin:1rem;
    cursor: pointer;
}
.desktopMenuListItem:hover
{
    color:grey;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid black;
    background: grey(147, 137, 142);
    color: black;
    text-shadow: 0 0 2px rgb(31, 215, 221);
}
/* .desktopMenuBtn
{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 1rem;
} */
/* .desktopMenuListImg
{
    object-fit:cover;
    height: 2rem;
    width: 2rem;
    margin:2rem; 
} */
.desktopMenuBtn{
    background:grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border:none;
    border-radius: 2rem;
    background: grey(147, 137, 142);
    color: black;
    animation: slideLeft 1s ease forwards;
    
}
.desktopMenuBtn:hover
{
    box-shadow: 0 0 10px rgb(31, 215, 221); 
}
.desktopMenuImg
{
  
    object-fit:cover;
    margin-right: 0.3rem;
    margin-left:0.75rem; 
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    height:1.5rem;
    width:1.5rem; 
}

.active
{
    color: black;
    border-bottom:2px solid black;
    padding-bottom: 0.5rem;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right:2rem;
    z-index: 2;
    display: flex;
    flex-direction:column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 10rem;
    background-color: grey;
    border-radius: 1rem;
}
.ListItem{
    color: rgb(31, 29, 29);
    padding:0.5rem 1rem;
    margin:0.25rem;
    border-radius: 0.5rem;
    background-color: rgba(199, 202, 202, 0.519);
}
.mobMenu{
    display: none;
    object-fit: cover;
    height:1.2rem;
}

@media screen and (max-width:720px) {
    .mobMenu{
        display:flex;    
    }
    .desktopMenu{
        display: none;
    }
    .desktopMenuBtn{
        display: none;
    }
}
@keyframes slideRight
{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft
{
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop
{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom 
{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}


