.navbar{
    background-color:rgb(136, 163, 162);
    height:5rem;
    width:100vw;
    margin :0 auto;
    padding:1rem 2rem;
    display:flex;
    align-items: center;
    justify-content:space-between;
    position:sticky;
    top:0;
    z-index:3;
}
.Logo
{
    object-fit:cover;
    height:4rem;
    width:9rem;
}

.desktopMenuListItem
{
    margin:1rem;
    cursor: pointer;
}
.desktopMenuListItem:hover
{
    color:grey;
    padding-bottom: 0.5rem;
    border-bottom: 8px solid black;
}
/* .desktopMenuBtn
{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 1rem;
} */
/* .desktopMenuListImg
{
    object-fit:cover;
    height: 2rem;
    width: 2rem;
    margin:2rem; 
} */
.desktopMenuBtn{
    background:grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border:none;
    border-radius: 2rem;
    
}
.desktopMenuImg
{
  
    object-fit:cover;
    margin-right: 0.3rem;
    margin-left:0.75rem; 
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    height:1.5rem;
    width:1.5rem; 
}

.active
{
    color: black;
    border-bottom:3px solid black;
    padding-bottom: 0.5rem;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right:2rem;
    z-index: 2;
    display: flex;
    flex-direction:column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 10rem;
    background-color: grey;
    border-radius: 1rem;
}
.ListItem{
    color: rgb(31, 29, 29);
    padding:0.5rem 1rem;
    margin:0.25rem;
    border-radius: 0.5rem;
    background-color: rgba(199, 202, 202, 0.519);
}
.mobMenu{
    display: none;
    object-fit: cover;
    height:1.2rem;
}

@media screen and (max-width:720px) {
    .mobMenu{
        display:flex;    
    }
    .desktopMenu{
        display: none;
    }
    .desktopMenuBtn{
        display: none;
    }
}


