.navbar{
    background-color:rgb(136, 163, 162);
    height:5rem;
    width:100vw;
    margin :0 auto;
    padding:1rem 2rem;
    display:flex;
    align-items: center;
    justify-content:space-between;
    position:sticky;
    top:0;
    z-index:3;
}
.Logo
{
    object-fit:cover;
    height:4rem;
    width:9rem;
}

.desktopMenuListItem
{
    margin:1rem;
    cursor: pointer;
}
.desktopMenuListItem:hover
{
    color:grey;
    padding-bottom: 0.5rem;
    border-bottom: 8px solid black;
}
/* .desktopMenuBtn
{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 1rem;
} */
/* .desktopMenuListImg
{
    object-fit:cover;
    height: 2rem;
    width: 2rem;
    margin:2rem; 
} */
.desktopMenuBtn{
    background:grey;
    margin:1rem 0;
    padding: 0.75rem 2rem;
    border:none;
    border-radius: 2rem;
}
.desktopMenuImg
{
    object-fit:cover;
    margin:0 0.25rem;
    height:1rem;
}